<form id="login-form" action="" method="post" role="form" (ngSubmit)="loginMerchant()">
    <small *ngIf="!merchantExists&&callComplete" id="merchantEror" class="text-danger">
        Merchant does not exists, register merchant to proceed!
    </small> 
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" [(ngModel)]="merchant.userName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="merchant.password">
    </div>
    <div class="form-group text-center">
      <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
      <label for="remember"> Remember Me</label>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
        </div>
      </div>
    </div>
  </form>